<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    VitalLink е IoT система от свързани устройства
 в помощ на медицинския екип и техните пациенти. 
 Бързата и надеждна връзка предоставя мониторинг на жизнените показатели и моментална връзка на пациентите с медиците. VitalLink съхранява информацията във production-grade time-series база данни.

<br>
 <p>Създадено от Младен Михалков 10Г</p> <br>
 <p>Мартин Михалков 10Г</p> <br>
 <p>Вече имате профил?</p>
    <a href="{{ url_for('auth.login') }}">Влезте тук</a>
    <p>Нямате профил?</p>
    <a href="{{ url_for('auth.signup') }}">Създайте тук</a>
</body>
</html>