<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ur class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ur>
        {% endif %}
    {% endwith %}
    <h1>Добре дошли в главната страница!!!</h1>
</body>
</html>